
/*****************************************************************************
 * GENERAL
 *****************************************************************************/

body div a:active {
  color: #BDDEEC;
  text-decoration: none;
}

a:link {
  color: #15648F;
  text-decoration: none;
}

body a:hover {
  color: #00846D;
  text-decoration: underline;
}

a:visited {
  color: #688BA6;
  text-decoration: none;
}

@font-face {
  font-family: 'Monotype Corsiva';
  src: url('/wedding/fonts/MTCORSVA.TTF'); /* For IE */
  src: local('Monotype Corsiva'), url('/wedding/fonts/MTCORSVA.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Edwardian Script ITC';
  src: url('/wedding/fonts/ITCEdscr.TTF'); /* For IE */
  src: local('Edwardian Script ITC'), url('/wedding/fonts/ITCEdscr.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}

div, h1, h2, h3, h4, p, img, table {
  position: absolute;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url('/wedding/images/background.jpg?v=0.5.1');
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: left top;
  color: #3A300C;
  font-family: 'Monotype Corsiva', sans-serif;
  font-size: 14pt;
  text-align: center;
}

.bubble {
  writing-mode: lr-tb;
}

.bubble * {
  left: 0px;
  top: 0px;
}

/*****************************************************************************
 * BIG BUBBLES
 *****************************************************************************/

.big_bubble * {
  z-index: 11;
}

.big_bubble {
  height: 424px;
  width: 600px;
}

.bubble_main_h {
  color: #026B86;
  font-family: 'Edwardian Script ITC', sans-serif;
  font-size: 32pt;
  font-weight: bold;
  text-align: center;
  top: 60px;
  width: 600px;
}

.bubble_p {
  left: 75px;
  top: 116px;
  width: 450px;
}

.bubble_sub_img {
  left: 225px;
  top: 220px;
  width: 150px;
}

.big_bubble>.bubble_main_img {
  height: 424px;
  width: 600px;
  z-index: 10;
}

.big_bubble>.bubble_border_img {
  height: 420px;
  width: 600px;
}

.big_bubble>.bubble_body {
  display: block;
}

.big_bubble>.bubble_sub_h {
  display: none;
}

.big_bubble>.bubble_body>.low_p {
  top: 142px;
}

/*****************************************************************************
 * SMALL BUBBLES
 *****************************************************************************/

body div.small_bubble {
  cursor: pointer;
  height: 70px;
  width: 100px;
  z-index: 3;
}

.small_bubble>.bubble_main_img {
  height: 70px;
  width: 100px;
}

.bubble_sub_h {
  color: #026B86;
  font-family: 'Edwardian Script ITC', sans-serif;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  top: 25px;
  width: 100px;
}

.small_bubble>.bubble_border_img {
  display: none;
}

.small_bubble>.bubble_body {
  display: none;
}

.small_bubble>.bubble_sub_img {
  display: none;
}

.small_bubble>.bubble_sub_h {
  display: inline;
}

/*****************************************************************************
 * FORM CONTROLS
 *****************************************************************************/

input[type='checkbox'] {
}

input[type='submit'] {
  font-family: 'Monotype Corsiva', sans-serif;
  font-size: 16pt;
}

input[type='text'] {

}

.rsvp_error_msg {
  color: #EE0A07;
  font-family: sans-serif;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
}

/*****************************************************************************
 * MISCELLANEOUS
 *****************************************************************************/

#bubble1 .bubble_main_h {
  color: #000000;
}

#bubble1 .bubble_sub_h {
  color: #000000;
}

.big_bubble#bubble1 {
  height: 438px;
  width: 618px;
}

.big_bubble#bubble1 .bubble_main_img {
  height: 438px;
  width: 618px;
}

.big_bubble#bubble1 .bubble_main_h {
  font-size: 28pt;
  font-weight: bold;
  text-align: center;
  top: 200px;
  width: 618px;
}

#bubble2 .bubble_sub_img {
  left: 213px;
  top: 220px;
  height: 125px;
  width: 176px;
}

#bubble7 .bubble_sub_img {
  left: 252px;
  top: 260px;
  height: 106px;
  width: 106px;
}

#bubble3 .bubble_p {
  top: 140px;
}

#envelope_top {
  display: none;
  height: 269px;
  width: 620px;
}

#envelope_bottom {
  display: none;
  height: 438px;
  width: 618px;
}

.name {
  position: static;
  font-family: 'Edwardian Script ITC', sans-serif;
  font-size: 22pt;
}

.shadow {
  height: 104px;
  left: -16px;
  top: -16px;
  width: 134px;
  z-index: -1;
}

.scripted_content, .ie_user_content {
  display: none;
}

.ie_user_content {
  display: none;
}

.no_script_content, .ie_user_content, .no_script_page{
  position: absolute;
  left: 0px;
  color: #000000;
}

.no_script_page * {
  position: static;
  margin: 3px;
}

#count_down_table {
  left: 169px;
  top: 220px;
  height: 80px;
  width: 220px;
}

#count_down_table tr {

}

table {
  text-align: center;
}

#count_down_table .main_cell {
  width: 44px;
}

#count_down_table .sep_cell {
  width: 10px;
}

#count_down_table .time_row {
  font-size: 32pt;
  font-weight: bold;
}

#count_down_table .label_row {
  font-size: 11pt;
}

#rsvp_coming {
  display: none;
}

#rsvp_by {
  font-size: 13pt;
  font-weight: bold;
}

#ribbon {
	position: absolute;
	top: 0px;
	left: 65%;
	width: 140px;
}

#ribbon img{
	width: 100%;
}
