body div a:active {
  color: #ea566b;
  text-decoration: none;
}
a:link {
  color: #569fea;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
a:visited {
  color: #be56ea;
  text-decoration: none;
}
a img {
  border: none;
}
* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 100%;
}
body {
  background-color: #020202;
  background-image: url('/squared-away/images/background.png');
  background-repeat: repeat;
  color: #dafada;
  font-family: monospace;
  font-size: 12pt;
  height: 100%;
}
hr {
  margin-bottom: 20px;
  margin-top: 20px;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}
h1 {
  color: #fadada;
  font-size: 18pt;
}
h2 {
  color: #dadafa;
  font-size: 14pt;
}
/* ---------- Chapter select screen ---------- */
div#mainMenuScreen {
  display: block;
}
#mainMenuScreen>* {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
}
#quickPlayButton {
  left: 10px;
  top: 10px;
}
#mainMenuScreenCustomPlayButton {
  left: 458px;
  top: 10px;
}
#prevButton {
  display: none;
  left: 10px;
  top: 315px;
  width: 69px;
}
#nextButton {
  left: 641px;
  top: 330px;
  width: 69px;
}
#chapterProgressIndicator {
  color: #fff;
  font-size: 22px;
  left: 310px;
  top: 680px;
  text-align: center;
  width: 100px;
  height: 30px;
}
#chapterList {
  left: 110px;
  top: 110px;
  width: 500px;
  height: 500px;
  overflow: hidden;
}
img.chapterItem {
  position: absolute;
  left: 500px;
  top: 0px;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition-property: left, visibility;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.7, 0.15, 0.75, 1);
  transition-delay: 0s;
  -webkit-transition-property: left, visibility;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0.15, 0.75, 1);
  -webkit-transition-delay: 0s;
}
/* ---------- Pause screen ---------- */
#pauseScreen>* {
  margin: 15px auto;
}
#explanationTextArea {
  display: none;
  width: 500px;
  font-size: 30px;
  text-align: left;
}
/* ---------- Game over screen ---------- */
#gameOverScreen>* {
  margin: 15px auto;
}
#statsTable {
  width: 300px;
  font-size: 25px;
  text-align: left;
}
#statsTable>td {
  width: 50%;
}
/* ---------- Custom play screen ---------- */
#customPlayScreen>* {
  margin: 15px auto;
}
/* ---------- Game area ---------- */
#gameCanvas {
  height: 100%;
  width: 100%;
  z-index: 1;
}
.canvasButton {
  display: none;
  position: absolute;
  height: 70px;
  top: 640px;
  width: 70px;
  z-index: 5;
}
#helpButton {
/* Left-side button */
  left: 10px;
}
#musicButton,
#sfxButton {
/* Right-side button */
  left: 640px;
}
#topLevelDisplayArea {
  display: none;
  position: absolute;
  color: #fff;
  font-size: 14pt;
  left: 10px;
  text-align: left;
  top: 10px;
  width: 700px;
  z-index: 2;
}
#topScoreDisplayArea {
  display: none;
  position: absolute;
  color: #fff;
  font-size: 14pt;
  left: 10px;
  text-align: right;
  top: 10px;
  width: 700px;
  z-index: 2;
}
/* ---------- Miscellaneous ---------- */
.screen {
  position: absolute;
  display: none;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(2,2,2,0.65);
  z-index: 3;
  transition: visibility 0.2s ease 0s;
  -webkit-transition: visibility 0.2s ease 0s;
}
.button {
  display: block;
  width: 252px;
  height: 90px;
}
.button:hover {
  cursor: pointer;
}
#hintTextArea {
  position: absolute;
  display: none;
  left: 420px;
  top: 10px;
  width: 250px;
  padding: 10px;
  background-color: rgba(2,2,2,0.65);
  border: 3px solid #999;
  font-size: 20px;
  text-align: left;
}
.customControl {
  display: none;
}
#aboutArea img {
  float: left;
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
#aboutArea p {
  margin-bottom: 10px;
  overflow: auto;
}
#mainTitle {
  background-color: rgba(2,2,2,0.4);
  padding: 10px 0px;
  width: 100%;
}
#betaLabel {
  padding: 10px 0px;
}
#title {
  display: block;
  margin: 0px auto;
  height: 56px;
}
#console {
  background-color: #141414;
  margin: 10px 0px;
  padding: 10px 0px;
  width: 100%;
}
#console>h1 {
  background-color: #141414;
}
.directionsTable td {
  border: 1px;
  border-color: #fff;
  border-style: solid;
  padding: 5px;
}
.directionsTable {
  border-collapse: collapse;
}
#infoArea {
  background-color: rgba(2,2,2,0.4);
  padding: 1px 0px;
  width: 100%;
}
#infoArea>* {
  clear: both;
  margin: 10px;
}
#musicArea>p {
  clear: both;
  text-align: center;
}
#noJavaScriptArea {
  background-color: rgba(2,2,2,0.4);
  margin: 10px 0px;
  padding: 1px 0px;
  width: 720px;
}
#noJavaScriptArea>* {
  margin: 10px;
}
#nowPlaying {
  font-style: italic;
}
#optionsArea>p {
  margin: 0px auto;
  width: 100%;
}
#pageColumn {
  height: 100%;
  padding: 10px;
  margin: 0px auto;
  width: 720px;
}
.peanutGallery {
  color: #fafada;
  font-style: italic;
  margin: 0px 0px -1em 50px;
}
#playArea {
  position: relative;
  font-weight: bold;
  height: 720px;
  margin: 10px 0px;
  width: 100%;
}
#gameScreen {
  width: 100%;
  height: 100%;
}
#problemScreen {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 4;
}
#problemText {
  color: #d00;
  font-size: 20pt;
  height: 100%;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
.textColumn {
  float: left;
  text-align: left;
  width: 50%;
}
