<!DOCTYPE html>
<html lang="en">
  <% var baseDir = '/text-animation'; %>
  <% var cacheBuster = '.v1.0.2'; %>

  <head>
    <title>Text Animation</title>
    <meta charset="utf-8">
    <meta name="description" content="General-purpose, character-by-character animation of text">

    <link rel="icon"
          type="image/png"
          href="<%= baseDir %>/images/favicon-16x16<%= cacheBuster %>.png"
          sizes="16x16">
    <link rel="icon"
          type="image/png"
          href="<%= baseDir %>/images/favicon-32x32<%= cacheBuster %>.png"
          sizes="32x32">

    <link rel="stylesheet" href="<%= baseDir %>/main<%= cacheBuster %>.css">
  </head>
  
  <body>
    <div id="main-area">

      <div id="buttons"></div>

      <div id="recipe">

        <h1>Guacamole</h1>

        <p>
          Recipe courtesy of &nbsp;<a href="http://www.foodnetwork.com/chefs/alton-brown.html" target="_blank">Alton Brown</a>.
        </p>

        <h2>Ingredients</h2>

        <ul>
          <li>3 Haas avocados, halved, seeded and peeled</li>
          <li>1 lime, juiced</li>
          <li>1/2 teaspoon kosher salt</li>
          <li>1/2 teaspoon ground cumin</li>
          <li>1/2 teaspoon cayenne</li>
          <li>1/2 medium onion, diced</li>
          <li>1/2 jalapeno pepper, seeded and minced</li>
          <li>2 Roma tomatoes, seeded and diced</li>
          <li>1 tablespoon chopped cilantro</li>
          <li>1 clove garlic, minced</li>
        </ul>

        <h2>Directions</h2>

        <p>
          In a large bowl place the scooped avocado pulp and lime juice, toss to coat. Drain, and reserve the lime juice, after all of the avocados have been coated. Using a potato masher add the salt, cumin, and cayenne and mash. Then, fold in the onions, jalapeno, tomatoes, cilantro, and garlic. Add 1 tablespoon of the reserved lime juice. Let sit at room temperature for 1 hour and then serve.
        </p>
      </div>
    </div>

    <script src="<%= baseDir %>/scripts/text-animation/util<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/scripts/text-animation/start-to-end-animation/AnimationElementNode<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/scripts/text-animation/start-to-end-animation/AnimationTextNode<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/scripts/text-animation/start-to-end-animation/CharacterAnimation<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/scripts/text-animation/start-to-end-animation/TextAnimationJob<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/scripts/text-animation/textAnimator<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/scripts/config<%= cacheBuster %>.js"></script>
    <script src="<%= baseDir %>/scripts/index<%= cacheBuster %>.js"></script>

    <script><%= analyticsScript %></script>
  </body>
</html>