html, body, #main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 16pt;
  color: #EEEEEE;
}

html {
  overflow: hidden;
}

body {
  overflow-y: scroll;
}

#main {
  height: auto;
  max-width: 100%;
}

div, p {
  padding: 0;
  margin: 0;
}

p, .screenshot {
  margin-bottom: 1em;
}

img {
  display: block;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 0;
  align-self: stretch;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  font-weight: bold;
}

li>a,
li>span {
  display: inline-block;
  padding: 8px;
  margin: 4px;
  background-color: hsla(0, 0%, 0%, 0.1);
  border-radius: 5px;
  box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.4);
  transition-property: box-shadow, background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

li>a:hover,
li>span:hover {
  background-color: hsla(0, 0%, 30%, 0.15);
  box-shadow: 3px 3px 4px hsla(0, 0%, 0%, 0.4);
}

li>a:active,
li>span:active {
  background-color: hsla(0, 0%, 0%, 0.2);
  box-shadow: 0 0 0.5px hsla(0, 0%, 0%, 0.4);
}

h1, h2, h3, h4, h5 {
  margin: 1em 0;
  color: #ffbf7a;
  text-align: center;
  text-shadow: #000000 2px 2px 2px;
}

a, a:hover, a:active, a:visited {
  color: #18ffff;
  text-decoration: none;
}

a:hover, a:hover:visited {
  color: #d1fffc;
}

a:active, a:active:visited {
  color: #10adb3;
}

body {
  /*background: #222222 url("/snoring-cat/images/zzz-tiled.png") repeat;*/
  background: #222222 url("https://s3-us-west-2.amazonaws.com/snoringcat.games/zzz-tiled.png") repeat;
  background-size: 217px 192px;
}

#main {
  width: 500px;
}

body,
#main,
#email,
#address,
#phone {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#cat {
  margin: 0 0 2em;
}

#cat>img {
  width: 256px;
  height: 256px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  background-color: #333333;
  box-shadow: 2px 2px 2px #000000;
  border-radius: 8px;
  padding: 18px 28px;
  margin: 0 0 18px;
  align-self: stretch;
}

.card-header-wrapper {
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin: -18px -28px;
  padding: 18px 28px;
  cursor: pointer;
  background-color: #333333;
  border-width: 0;
  box-shadow: 0 0 0 #000000;
  transition-property: color, background-color, box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  z-index: 1;
  position: relative;
  height: 44px;
  line-height: 44px;
}

div.card>.card-header-wrapper:hover {
  background-color: hsla(0, 0%, 35%, 1.0);
  color: #ffdab3;
  box-shadow: 2px 2px 2px #000000;
}

div.card>.card-header-wrapper:active {
  background-color: hsla(0, 0%, 15%, 1.0);
  color: #b38656;
  box-shadow: 0 0 0.5px #000000;
}

.dropdown-arrow {
  width: 14px;
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}

.open .dropdown-arrow {
  transform: rotate(90deg);
}

.card-header-wrapper>h2 {
  margin: 0;
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.card-body-wrapper {
  max-height: 0;
  margin-top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  transition-property: margin-top, max-height;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.open .card-body-wrapper {
  max-height: 1000px;
  margin-top: 28px;
  overflow-y: auto;
}

.open.transitioning .card-body-wrapper {
  overflow-y: hidden;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.logo {
  height: 28px;
  margin-right: 10px;
}

.screenshot {
  width: 360px;
}

#address {
  margin: 0.6em 0;
}

@media (max-width: 880px) {
  #main {
    width: 500px;
  }
}

@media (max-width: 540px) {
  #main {
    width: 500px;
    font-size: 14pt;
  }

  #cat>img {
    width: 256px;
    height: 256px;
  }

  .card {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .card-header-wrapper>h2 {
    font-size: 24px;
  }

  .logo {
    height: 22px;
  }
}

@media (max-width: 364px) {
  #main {
    width: 100%;
    font-size: 12pt;
  }

  #cat>img {
    width: 192px;
    height: 192px;
  }

  .card-header-wrapper>h2 {
    font-size: 18px;
  }

  .logo {
    height: 16px;
  }
}
