html, body, #dashboard {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 16pt;
  color: #EEEEEE;
}

html {
  overflow: hidden;
}

body {
  overflow-y: scroll;
}

#dashboard {
  height: auto;
  max-width: 100%;
}

div, p {
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 1em;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 0;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  font-weight: bold;
}

li>a, li>span {
  display: inline-block;
  padding: 8px;
  margin: 4px;
  background-color: hsla(0, 0%, 0%, 0.1);
  border-radius: 5px;
  box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.4);
}

h1, h2, h3, h4, h5 {
  margin: 1em 0;
  color: #ffbf7a;
  text-align: center;
  text-shadow: #000000 2px 2px 2px;
}

a, a:hover, a:active, a:visited {
  color: #18ffff;
  text-decoration: none;
}

a:hover, a:hover:visited {
  color: #d1fffc;
}

a:active, a:active:visited {
  color: #10adb3;
}

body {
  /*background: #222222 url("/snoring-cat/images/zzz-tiled.png") repeat;*/
  background: #222222 url("https://s3-us-west-2.amazonaws.com/snoringcat.games/zzz-tiled.png") repeat;
  background-size: 217px 192px;
}

#dashboard {
  width: 500px;
}

body,
#dashboard,
#contact,
#email,
#address,
#phone {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#cat {
  margin: 0 0 2em;
}

.card {
  background-color: #333333;
  box-shadow: 2px 2px 2px #000000;

  border-radius: 8px;
  padding: 2em;
  margin: 0 0 2em;

  align-self: stretch;
}

#contact {
  font-size: 0.6em;
}

#contact h2 {
  font-size: 1.5em;
  margin: 0 0 0.5em;
}

#address {
  margin: 0.6em 0;
}

@media (max-width: 880px) {
  #dashboard {
    width: 500px;
  }
}

@media (max-width: 540px) {
  #dashboard {
    width: 500px;
  }

  .card {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

@media (max-width: 364px) {
  #dashboard {
    width: 100%;
  }
}
