section#aboutArea
  h1
    | About
  p
    | This game was made by 
    a(href='http://levi.sl')
      | Levi Lindsey
    | .  Please let him know if you have any feedback, suggestions, random thoughts or if you find any bugs! 
    a(href='mailto:levi@levi.sl?subject=That%20Squared%20Away%20app')
      | Send Levi an email
    | .
  p
    img(src='#{baseDir}/images/github.png#{currentVersion}', alt='Github icon')
    | If you&apos;re one of those people who think code is cool, then  
    a(href='https://github.com/levisl176', target='_blank')
      | fork me on GitHub
    | !
  p
    img(src='#{baseDir}/images/android.png#{currentVersion}', alt='Android icon')
    | Also, this app is coming soon to the Android marketplace.

section#console
  h1
    | Debug Console:
