
<section id="aboutArea">
  <h1>About</h1>
  <p>This game was made by <a href="https://levi.dev">Levi Lindsey</a>.  Please let him know if you have any feedback, suggestions, random thoughts or if you find any bugs! <a href="mailto:levi@levi.dev?subject=That%20Squared%20Away%20app">Send Levi an email</a>.</p>
  <p><img src="undefined/images/github.pngundefined" alt="Github icon"/>If you&apos;re one of those people who think code is cool, then  <a href="https://github.com/levilindsey" target="_blank">fork me on GitHub</a>!</p>
  <p><img src="undefined/images/android.pngundefined" alt="Android icon"/>Also, this app is coming soon to the Android marketplace.</p>
</section>
<section id="console">
  <h1>Debug Console:</h1>
</section>