
<body>
  <div id="pageColumn">
    <header id="mainTitle"><img id="title" src="undefined/images/title.pngundefined" alt="Squared Away Title"/>
      <h2 id="betaLabel">ALPHA</h2>
    </header>
    <section id="noJavaScriptArea">
      <p>Hey! This spiffy web app needs JavaScript in order to run. Come back with a browser that has JavaScript turned on!</p>
    </section>
    <section id="playArea">
      <div id="gameScreen">
        <canvas id="gameCanvas"></canvas>
        <div id="topLevelDisplayArea">Level: <span id="topLevelDisplayData">1</span></div>
        <div id="topScoreDisplayArea">Score: <span id="topScoreDisplayData">0</span></div>
        <div id="hintTextArea"></div><img id="helpButton" src="undefined/images/help.png" alt="help" class="canvasButton button"/><img id="musicButton" src="undefined/images/music_on.png" alt="toggle music" class="canvasButton button"/><img id="sfxButton" src="undefined/images/sfx_on.png" alt="toggle sfx" class="canvasButton button"/>
      </div>
      <div id="mainMenuScreen" class="screen"><img id="quickPlayButton" src="undefined/images/quick_play.png" alt="Quick play button" class="button"/><img id="mainMenuScreenCustomPlayButton" src="undefined/images/top_button_locked.png" alt="Custom play button"/><img id="prevButton" src="undefined/images/prev.png" alt="Previous chapter button" class="button"/><img id="nextButton" src="undefined/images/next.png" alt="Next chapter button" class="button"/>
        <div id="chapterList"><img id="chapter1" src="undefined/images/chapter_1.png" alt="Chapter 1" class="chapterItem"/><img id="chapter2" src="undefined/images/chapter_locked.png" alt="Chapter 2" class="chapterItem"/><img id="chapter3" src="undefined/images/chapter_locked.png" alt="Chapter 3" class="chapterItem"/><img id="chapter4" src="undefined/images/chapter_locked.png" alt="Chapter 4" class="chapterItem"/><img id="chapter5" src="undefined/images/chapter_locked.png" alt="Chapter 5" class="chapterItem"/><img id="chapter6" src="undefined/images/chapter_locked.png" alt="Chapter 6" class="chapterItem"/><img id="chapter7" src="undefined/images/chapter_locked.png" alt="Chapter 7" class="chapterItem"/><img id="chapter8" src="undefined/images/chapter_locked.png" alt="Chapter 8" class="chapterItem"/></div>
        <div id="chapterProgressIndicator">1/8</div>
      </div>
      <div id="gameOverScreen" class="screen">
        <hgroup>
          <h1 id="gameOverScreenHeader" class="screenTitle">Game Over</h1>
          <h2 id="gameOverScreenSubHeader" class="screenSubTitle"></h2>
        </hgroup><img id="nextChapterButton" src="undefined/images/next_chapter.png" alt="Next chapter button" class="button"/><img id="gameOverScreenCustomPlayButton" src="undefined/images/custom_play.png" alt="Custom play button"/><img id="playAgainButton" src="undefined/images/play_again.png" alt="Play again button" class="button"/><img id="gameOverMainMenuButton" src="undefined/images/main_menu.png" alt="Main menu button" class="button"/>
        <table id="statsTable">
          <tr>
            <td>Score:</td>
            <td id="scoreData"></td>
          </tr>
          <tr>
            <td>Level:</td>
            <td id="levelData"></td>
          </tr>
          <tr>
            <td>Time:</td>
            <td id="timeData"></td>
          </tr>
          <tr>
            <td>Layers destroyed:</td>
            <td id="layersCollapsedData"></td>
          </tr>
          <tr>
            <td>Squares destroyed:</td>
            <td id="squaresCollapsedData"></td>
          </tr>
          <tr>
            <td>Blocks used:</td>
            <td id="blocksHandledData"></td>
          </tr>
          <tr id="collapseBombCountRow">
            <td>Collapse bombs used:</td>
            <td id="collapseBombsUsedData"></td>
          </tr>
          <tr id="settleBombCountRow">
            <td>Settle bombs used:</td>
            <td id="settleBombsUsedData"></td>
          </tr>
        </table>
      </div>
      <div id="pauseScreen" class="screen">
        <hgroup>
          <h1 id="pauseScreenHeader" class="screenTitle">Game Paused</h1>
          <h2 id="pauseScreenSubHeader" class="screenSubTitle"></h2>
        </hgroup>
        <p id="explanationTextArea"></p><img id="pauseScreenPlayGameButton" src="undefined/images/play_game.png" alt="Play game button" class="button"/><img id="unpauseButton" src="undefined/images/unpause.png" alt="Unpause game button" class="button"/><img id="restartButton" src="undefined/images/restart.png" alt="Restart game button" class="confirmationButton button"/><img id="pauseMainMenuButton" src="undefined/images/main_menu.png" alt="Main menu button" class="confirmationButton button"/>
      </div>
      <div id="customPlayScreen" class="screen">
        <hgroup>
          <h1 id="customPlayScreenHeader" class="screenTitle">Custom Play</h1>
          <h2 class="screenSubTitle">Change the game parameters with the controls below.</h2>
        </hgroup><img id="customPlayScreenPlayGameButton" src="undefined/images/play_game.png" alt="Play game button" class="button"/><img id="customPlayMainMenuButton" src="undefined/images/main_menu.png" alt="Main menu button" class="button"/>
      </div>
      <div id="loginScreen" class="screen">
        <h1 class="screenTitle">Login</h1>
        <p>Username: </p>
        <input type="text" size="20" placeholder="your username"/>
        <p class="credentialsErrorMsg">Invalid username</p>
        <p>Password: </p>
        <input type="text" size="20" placeholder="your username"/>
        <p class="credentialsErrorMsg">Password does not match username</p><img id="loginSubmitButton" src="undefined/images/.png" alt="Submit" class="button"/>
      </div>
      <div id="createAccountScreen" class="screen">
        <h1 class="screenTitle">Create Account</h1>
        <p>Username: </p>
        <input type="text" size="20" placeholder="your username"/>
        <p class="credentialsErrorMsg">That username is unavailable</p>
        <p>Password: </p>
        <input type="text" size="20" placeholder="your username"/>
        <p id="" class="credentialsErrorMsg">Passwords must be at least six characters long</p><img id="createAccountSubmitButton" src="undefined/images/.png" alt="Submit" class="button"/>
      </div>
      <div id="editAccountScreen" class="screen">
        <h1 class="screenTitle">Edit Account</h1>
        <p>Username: </p>
        <input type="text" size="20" placeholder="your username"/>
        <p class="credentialsErrorMsg">Invalid username</p>
        <p>Password: </p>
        <input type="text" size="20" placeholder="your username"/>
        <p class="credentialsErrorMsg">Password does not match username</p><img id="editAccountSubmitButton" src="undefined/images/.png" alt="Submit" class="button"/><img id="deleteAccountSubmitButton" src="undefined/images/.png" alt="Submit" class="button"/>
      </div>
      <div id="profileStatsScreen" class="screen">
        <h1 class="screenTitle">Your Stats</h1>
        <table id="profileStatsTable"></table>
      </div>
    </section>
    <div id="infoArea">
      <section id="directionsArea">
        <h1 class="mouseDirection">Mouse Directions</h1>
        <h1 class="keyboardDirection">Keyboard Directions</h1>
        <p class="peanutGallery">Just, like, be awesome. And win.<br/><br/></p>
        <table class="keyboardDirection directionsTable">
          <tr>
            <th>Action</th>
            <th>Control</th>
          </tr>
          <tr>
            <td>Rotate Block</td>
            <td>X.</td>
          </tr>
          <tr>
            <td>Move Block Sideways</td>
            <td>Arrow key sideways from the block&apos;s fall direction.</td>
          </tr>
          <tr>
            <td>Drop Block</td>
            <td>Arrow key toward the block&apos;s fall direction.</td>
          </tr>
          <tr>
            <td>Switch Block Fall Direction</td>
            <td>Tap the arrow key away from the block&apos;s fall direction twice.</td>
          </tr>
          <tr>
            <td>Use Bomb</td>
            <td>Tap A to select a collapse bomb or S to select a settle bomb.  Then use the arrow keys to select which side to release the bomb from.  Then tap A or S again to release the bomb.</td>
          </tr>
          <tr>
            <td>Switch Selected Block</td>
            <td>Z.</td>
          </tr>
          <tr>
            <td>Pause Game</td>
            <td>Spacebar.</td>
          </tr>
        </table>
        <table class="mouseDirection directionsTable">
          <tr>
            <th>Action</th>
            <th>Control</th>
          </tr>
          <tr>
            <td>Rotate Block</td>
            <td>Tap on block.</td>
          </tr>
          <tr>
            <td>Move Block Sideways</td>
            <td>Drag block sideways.</td>
          </tr>
          <tr>
            <td>Drop Block</td>
            <td>Drag block down (toward fall direction).</td>
          </tr>
          <tr>
            <td>Switch Block Fall Direction</td>
            <td>Drag block up (away from current fall direction).</td>
          </tr>
          <tr>
            <td>Use Bomb</td>
            <td>Tap on either the collapse or settle bomb area.  Then tap on which side to release the bomb from.</td>
          </tr>
          <tr>
            <td>Pause Game</td>
            <td>Spacebar.</td>
          </tr>
        </table>
      </section>
      <hr/>
      <section id="optionsArea">
        <h1>Options</h1>
        <div>
          <label>
            <input type="checkbox" name="keyboardControlCB" id="keyboardControlCB" value="keyboardControlCB" class="modeCB"/> Enable keyboard control
          </label><span id="keyboardControlCBDefaultComment" class="peanutGallery">Guaranteed to increase your WPM or your money back!</span>
          <div class="customControl">
            <label>
              <input type="checkbox" name="completeSquaresCB" id="completeSquaresCB" value="completeSquaresCB" class="modeCB"/> Completing squares instead of lines<span id="completeSquaresCBDefaultComment" class="peanutGallery">Totally four times as much fun</span>
            </label><br/>
            <label>
              <input type="checkbox" name="blocksFallPastCenterCB" id="blocksFallPastCenterCB" value="blocksFallPastCenterCB" class="modeCB"/> Blocks are allowed to fall past the center<span id="blocksFallPastCenterCBOffComment" class="peanutGallery">I&apos;ll bet you also need bumpers when you bowl...</span><span id="blocksFallPastCenterCBOnComment" class="peanutGallery">You&apos;re gonna miss the center...</span>
            </label><br/>
            <label>
              <input type="checkbox" name="changeFallDirectionCB" id="changeFallDirectionCB" value="changeFallDirectionCB" checked="checked" class="modeCB"/> Able to change falling direction of blocks<span id="changeFallDirectionCBOffComment" class="peanutGallery">Aw, don&apos;t be constrained to just one dimension</span><span id="changeFallDirectionCBOnComment" class="peanutGallery">Whoo hoo! Now we can spin around in circles!</span>
            </label><br/>
            <label>
              <input type="checkbox" name="changeQuadrantWithFallDirectionCB" id="changeQuadrantWithFallDirectionCB" value="changeQuadrantWithFallDirectionCB" checked="checked" class="modeCB"/> Changing direction moves block to next quadrant<span id="changeQuadrantWithFallDirectionCBDefaultComment" class="peanutGallery">Where&apos;d it go?!</span>
            </label><br/>
            <label>
              <input type="checkbox" name="settleWithCollapseCB" id="settleWithCollapseCB" value="settleWithCollapseCB" class="modeCB"/> Collapsing a layer causes higher layers to &quot;settle&quot;<span id="settleWithCollapseCBDefaultComment" class="peanutGallery">Whoo hoo! An auto mistake fixer!</span>
            </label><br/>
            <label>
              <input type="checkbox" name="settleInwardCB" id="settleInwardCB" value="settleInwardCB" class="modeCB"/> Layers &quot;settle&quot; inwards as well as downwards<span id="settleInwardCBDefaultComment" class="peanutGallery">Well, that&apos;s just confusing</span>
            </label><br/>
            <label>
              <input type="checkbox" name="bombsCB" id="bombsCB" value="bombsCB" checked="checked" class="modeCB"/> Bombs on<span id="bombsCBOffComment" class="peanutGallery">You&apos;re no fun...</span><span id="bombsCBOnComment" class="peanutGallery">Well, duh...</span>
            </label><br/>
            <label>
              <input type="checkbox" name="fallOutwardCB" id="fallOutwardCB" value="fallOutwardCB" class="modeCB"/> Blow my mind<span id="fallOutwardCBDefaultComment" class="peanutGallery">Wait, what?</span><span id="fallOutwardCBOffComment" class="peanutGallery">Booooooring</span><span id="fallOutwardCBOnComment" class="peanutGallery">Well, aren&apos;t you brave...</span>
            </label><br/>
            <label>
              <input type="checkbox" name="consoleCB" id="consoleCB" value="consoleCB" class="modeCB"/> Show the debug console<span id="consoleCBDefaultComment" class="peanutGallery">Not that there are any bugs or anything...</span>
            </label><br/>
            <label>
              <input type="checkbox" name="peanutGalleryCB" id="peanutGalleryCB" value="peanutGalleryCB" class="modeCB"/> Peanut gallery<span id="peanutGalleryCBDefaultComment" class="peanutGallery">What? My app wasn&apos;t entertaining enough for you before?!?</span>
            </label><br/>Size of game area: 
            <select id="gameWindowSize" class="gameParameterSelect">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40" selected="selected">40</option>
              <option value="50">50</option>
              <option value="60">60</option>
              <option value="70">70</option>
              <option value="80">80</option>
              <option value="90">90</option>
              <option value="100">100</option>
              <option value="120">120</option>
              <option value="140">140</option>
              <option value="160">160</option>
              <option value="180">180</option>
              <option value="200">200</option>
            </select><br/>Size of center square: 
            <select id="centerSquareSize" class="gameParameterSelect">
              <option value="2">2</option>
              <option value="4">4</option>
              <option value="6" selected="selected">6</option>
              <option value="8">8</option>
              <option value="10">10</option>
              <option value="12">12</option>
              <option value="14">14</option>
              <option value="16">16</option>
              <option value="18">18</option>
              <option value="20">20</option>
            </select><br/>Number of squares in a block: 
            <select id="numberOfSquaresInABlock" class="gameParameterSelect">
              <option value="8" selected="selected">2-5</option>
              <option value="7">4-5</option>
              <option value="6">2-4</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
            </select><br/>Number of sides blocks fall from: 
            <select id="numberOfSidesBlocksFallFrom" class="gameParameterSelect">
              <option value="4" selected="selected">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
            </select><br/>Starting level: 
            <select id="startingLevel" class="gameParameterSelect">
              <option value="1" selected="selected">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
          </div>
        </div>
      </section>
      <hr/>
      <section id="musicArea">
        <h1>Music</h1>
        <p id="nowPlaying">Now playing: <span id="nowPlayingTitle"></span></p><br/>
        <p>Sorry, but not all of these songs may play during the game. Currently this app&apos;s webhost allows for only very limited data to be stored on the server.</p>
        <div class="textColumn customControl"><br/>
          <label>
            <input type="checkbox" name="aNightOfDizzySpells" id="aNightOfDizzySpells" value="aNightOfDizzySpells" checked="checked"/> A Night of Dizzy Spells 
          </label><a href="https://soundcloud.com/eric-skiff/a-night-of-dizzy-spells?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
          <label>
            <input type="checkbox" name="allOfUs" id="allOfUs" value="allOfUs" checked="checked"/> All of Us 
          </label><a href="https://soundcloud.com/eric-skiff/all-of-us?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
          <label>
            <input type="checkbox" name="arpanauts" id="arpanauts" value="arpanauts" checked="checked"/> Arpanauts 
          </label><a href="https://soundcloud.com/eric-skiff/arpanauts?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
          <label>
            <input type="checkbox" name="ascending" id="ascending" value="ascending" checked="checked"/> Ascending 
          </label><a href="https://soundcloud.com/eric-skiff/ascending?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
          <label>
            <input type="checkbox" name="chibiNinja" id="chibiNinja" value="chibiNinja" checked="checked"/> Chibi Ninja 
          </label><a href="https://soundcloud.com/eric-skiff/chibi-ninja?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
          <label>
            <input type="checkbox" name="comeAndFindMe" id="comeAndFindMe" value="comeAndFindMe" checked="checked"/> Come and Find Me 
          </label><a href="https://soundcloud.com/eric-skiff/come-and-find-me?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
          <label>
            <input type="checkbox" name="comeAndFindMeB" id="comeAndFindMeB" value="comeAndFindMeB"/> Come and Find Me (B Mix) 
          </label><a href="https://soundcloud.com/eric-skiff/come-and-find-me-b-mix?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
          <label>
            <input type="checkbox" name="digitalNative" id="digitalNative" value="digitalNative"/> Digital Native 
          </label><a href="https://soundcloud.com/eric-skiff/digital-native?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a>
        </div>
        <div class="textColumn customControl"><br/>
          <label>
            <input type="checkbox" name="hhavokIntro" id="hhavokIntro" value="hhavokIntro"/> HHavok (Intro) 
          </label><a href="https://soundcloud.com/eric-skiff/hhavok-intro?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
          <label>
            <input type="checkbox" name="hhavokMain" id="hhavokMain" value="hhavokMain" checked="checked"/> HHavok (Main) 
          </label><a href="https://soundcloud.com/eric-skiff/hhavok-main?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
          <label>
            <input type="checkbox" name="jumpshot" id="jumpshot" value="jumpshot" checked="checked"/> Jumpshot 
          </label><a href="https://soundcloud.com/eric-skiff/jumpshot?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
          <label>
            <input type="checkbox" name="prologue" id="prologue" value="prologue"/> Prologue 
          </label><a href="https://soundcloud.com/eric-skiff/prologue?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
          <label>
            <input type="checkbox" name="searching" id="searching" value="searching" checked="checked"/> Searching 
          </label><a href="https://soundcloud.com/eric-skiff/searching?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
          <label>
            <input type="checkbox" name="underclocked" id="underclocked" value="underclocked" checked="checked"/> Underclocked (Underunderclocked Mix) 
          </label><a href="https://soundcloud.com/eric-skiff/underclocked-underunderclocked?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
          <label>
            <input type="checkbox" name="wereAllUnderTheStars" id="wereAllUnderTheStars" value="wereAllUnderTheStars"/> We&apos;re All Under the Stars 
          </label><a href="https://soundcloud.com/eric-skiff/were-all-under-the-stars?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
          <label>
            <input type="checkbox" name="wereTheResistors" id="wereTheResistors" value="wereTheResistors"/> We&apos;re the Resistors 
          </label><a href="https://soundcloud.com/eric-skiff/were-the-resistors?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a>
        </div>
        <p><br/>The talented <a href="http://ericskiff.com/music/" target="_blank">Eric Skiff</a> composed of all of this music.</p>
      </section>
      <hr/>
      <section id="aboutArea">
        <h1>About</h1>
        <p>This game was made by <a href="https://levi.dev">Levi Lindsey</a>.  Please let him know if you have any feedback, suggestions, random thoughts or if you find any bugs! <a href="mailto:levi@levi.dev?subject=That%20Squared%20Away%20app">Send Levi an email</a>.</p>
        <p><img src="undefined/images/github.pngundefined" alt="Github icon"/>If you&apos;re one of those people who think code is cool, then  <a href="https://github.com/levilindsey" target="_blank">fork me on GitHub</a>!</p>
        <p><img src="undefined/images/android.pngundefined" alt="Android icon"/>Also, this app is coming soon to the Android marketplace.</p>
      </section>
      <section id="console">
        <h1>Debug Console:</h1>
      </section>
    </div>
  </div>
  <script src="/home/scripts/googleanalytics.js"></script>
  <script src="undefined/scripts/stacktrace-min-0.4.js"></script>
  <script src="undefined/scripts/soundjs-0.4.1.min.js"></script>
  <script src="undefined/scripts/logger.jsundefined"></script>
  <script src="undefined/scripts/utils.jsundefined"></script>
  <script src="undefined/scripts/resources.jsundefined"></script>
  <script src="undefined/scripts/block.jsundefined"></script>
  <script src="undefined/scripts/previewwindow.jsundefined"></script>
  <script src="undefined/scripts/bombwindow.jsundefined"></script>
  <script src="undefined/scripts/centersquare.jsundefined"></script>
  <script src="undefined/scripts/gamewindow.jsundefined"></script>
  <script src="undefined/scripts/input.jsundefined"></script>
  <script src="undefined/scripts/sound.jsundefined"></script>
  <script src="undefined/scripts/game.jsundefined"></script>
  <script src="undefined/scripts/main.jsundefined"></script>
</body>