
<section id="directionsArea">
  <h1 class="mouseDirection">Mouse Directions</h1>
  <h1 class="keyboardDirection">Keyboard Directions</h1>
  <p class="peanutGallery">Just, like, be awesome. And win.<br/><br/></p>
  <table class="keyboardDirection directionsTable">
    <tr>
      <th>Action</th>
      <th>Control</th>
    </tr>
    <tr>
      <td>Rotate Block</td>
      <td>X.</td>
    </tr>
    <tr>
      <td>Move Block Sideways</td>
      <td>Arrow key sideways from the block&apos;s fall direction.</td>
    </tr>
    <tr>
      <td>Drop Block</td>
      <td>Arrow key toward the block&apos;s fall direction.</td>
    </tr>
    <tr>
      <td>Switch Block Fall Direction</td>
      <td>Tap the arrow key away from the block&apos;s fall direction twice.</td>
    </tr>
    <tr>
      <td>Use Bomb</td>
      <td>Tap A to select a collapse bomb or S to select a settle bomb.  Then use the arrow keys to select which side to release the bomb from.  Then tap A or S again to release the bomb.</td>
    </tr>
    <tr>
      <td>Switch Selected Block</td>
      <td>Z.</td>
    </tr>
    <tr>
      <td>Pause Game</td>
      <td>Spacebar.</td>
    </tr>
  </table>
  <table class="mouseDirection directionsTable">
    <tr>
      <th>Action</th>
      <th>Control</th>
    </tr>
    <tr>
      <td>Rotate Block</td>
      <td>Tap on block.</td>
    </tr>
    <tr>
      <td>Move Block Sideways</td>
      <td>Drag block sideways.</td>
    </tr>
    <tr>
      <td>Drop Block</td>
      <td>Drag block down (toward fall direction).</td>
    </tr>
    <tr>
      <td>Switch Block Fall Direction</td>
      <td>Drag block up (away from current fall direction).</td>
    </tr>
    <tr>
      <td>Use Bomb</td>
      <td>Tap on either the collapse or settle bomb area.  Then tap on which side to release the bomb from.</td>
    </tr>
    <tr>
      <td>Pause Game</td>
      <td>Spacebar.</td>
    </tr>
  </table>
</section>
<hr/>