section#directionsArea
  h1.mouseDirection
    | Mouse Directions
  h1.keyboardDirection
    | Keyboard Directions
  p.peanutGallery
    | Just, like, be awesome. And win.
    br
    br
  table(class='keyboardDirection directionsTable')
    tr
      th
        | Action
      th
        | Control
    tr
      td
        | Rotate Block
      td
        | X.
    tr
      td
        | Move Block Sideways
      td
        | Arrow key sideways from the block&apos;s fall direction.
    tr
      td
        | Drop Block
      td
        | Arrow key toward the block&apos;s fall direction.
    tr
      td
        | Switch Block Fall Direction
      td
        | Tap the arrow key away from the block&apos;s fall direction twice.
    tr
      td
        | Use Bomb
      td
        | Tap A to select a collapse bomb or S to select a settle bomb.  Then use the arrow keys to select which side to release the bomb from.  Then tap A or S again to release the bomb.
    tr
      td
        | Switch Selected Block
      td
        | Z.
    tr
      td
        | Pause Game
      td
        | Spacebar.
  table(class='mouseDirection directionsTable')
    tr
      th
        | Action
      th
        | Control
    tr
      td
        | Rotate Block
      td
        | Tap on block.
    tr
      td
        | Move Block Sideways
      td
        | Drag block sideways.
    tr
      td
        | Drop Block
      td
        | Drag block down (toward fall direction).
    tr
      td
        | Switch Block Fall Direction
      td
        | Drag block up (away from current fall direction).
    tr
      td
        | Use Bomb
      td
        | Tap on either the collapse or settle bomb area.  Then tap on which side to release the bomb from.
    tr
      td
        | Pause Game
      td
        | Spacebar.

hr
