head
  title
    | Squared Away

  meta(charset='utf-8')
  meta(name='description', content='A tile-matching puzzle game')
  meta(name='viewport', content='width=device-width')

  link(rel='shortcut icon', href='#{baseDir}/images/favicon.ico#{currentVersion}')
  link(rel='stylesheet', href='#{baseDir}/main.css#{currentVersion}')
