
<section id="musicArea">
  <h1>Music</h1>
  <p id="nowPlaying">Now playing: <span id="nowPlayingTitle"></span></p><br/>
  <p>Sorry, but not all of these songs may play during the game. Currently this app&apos;s webhost allows for only very limited data to be stored on the server.</p>
  <div class="textColumn customControl"><br/>
    <label>
      <input type="checkbox" name="aNightOfDizzySpells" id="aNightOfDizzySpells" value="aNightOfDizzySpells" checked="checked"/> A Night of Dizzy Spells 
    </label><a href="https://soundcloud.com/eric-skiff/a-night-of-dizzy-spells?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
    <label>
      <input type="checkbox" name="allOfUs" id="allOfUs" value="allOfUs" checked="checked"/> All of Us 
    </label><a href="https://soundcloud.com/eric-skiff/all-of-us?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
    <label>
      <input type="checkbox" name="arpanauts" id="arpanauts" value="arpanauts" checked="checked"/> Arpanauts 
    </label><a href="https://soundcloud.com/eric-skiff/arpanauts?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
    <label>
      <input type="checkbox" name="ascending" id="ascending" value="ascending" checked="checked"/> Ascending 
    </label><a href="https://soundcloud.com/eric-skiff/ascending?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
    <label>
      <input type="checkbox" name="chibiNinja" id="chibiNinja" value="chibiNinja" checked="checked"/> Chibi Ninja 
    </label><a href="https://soundcloud.com/eric-skiff/chibi-ninja?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
    <label>
      <input type="checkbox" name="comeAndFindMe" id="comeAndFindMe" value="comeAndFindMe" checked="checked"/> Come and Find Me 
    </label><a href="https://soundcloud.com/eric-skiff/come-and-find-me?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
    <label>
      <input type="checkbox" name="comeAndFindMeB" id="comeAndFindMeB" value="comeAndFindMeB"/> Come and Find Me (B Mix) 
    </label><a href="https://soundcloud.com/eric-skiff/come-and-find-me-b-mix?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
    <label>
      <input type="checkbox" name="digitalNative" id="digitalNative" value="digitalNative"/> Digital Native 
    </label><a href="https://soundcloud.com/eric-skiff/digital-native?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a>
  </div>
  <div class="textColumn customControl"><br/>
    <label>
      <input type="checkbox" name="hhavokIntro" id="hhavokIntro" value="hhavokIntro"/> HHavok (Intro) 
    </label><a href="https://soundcloud.com/eric-skiff/hhavok-intro?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
    <label>
      <input type="checkbox" name="hhavokMain" id="hhavokMain" value="hhavokMain" checked="checked"/> HHavok (Main) 
    </label><a href="https://soundcloud.com/eric-skiff/hhavok-main?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
    <label>
      <input type="checkbox" name="jumpshot" id="jumpshot" value="jumpshot" checked="checked"/> Jumpshot 
    </label><a href="https://soundcloud.com/eric-skiff/jumpshot?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
    <label>
      <input type="checkbox" name="prologue" id="prologue" value="prologue"/> Prologue 
    </label><a href="https://soundcloud.com/eric-skiff/prologue?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
    <label>
      <input type="checkbox" name="searching" id="searching" value="searching" checked="checked"/> Searching 
    </label><a href="https://soundcloud.com/eric-skiff/searching?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
    <label>
      <input type="checkbox" name="underclocked" id="underclocked" value="underclocked" checked="checked"/> Underclocked (Underunderclocked Mix) 
    </label><a href="https://soundcloud.com/eric-skiff/underclocked-underunderclocked?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
    <label>
      <input type="checkbox" name="wereAllUnderTheStars" id="wereAllUnderTheStars" value="wereAllUnderTheStars"/> We&apos;re All Under the Stars 
    </label><a href="https://soundcloud.com/eric-skiff/were-all-under-the-stars?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a><br/>
    <label>
      <input type="checkbox" name="wereTheResistors" id="wereTheResistors" value="wereTheResistors"/> We&apos;re the Resistors 
    </label><a href="https://soundcloud.com/eric-skiff/were-the-resistors?in=eric-skiff/sets/resistor-anthems" target="_blank">&#9654;</a>
  </div>
  <p><br/>The talented <a href="http://ericskiff.com/music/" target="_blank">Eric Skiff</a> composed of all of this music.</p>
</section>
<hr/>