section#musicArea
  h1
    | Music
  p#nowPlaying
    | Now playing: 
    span#nowPlayingTitle
  br
  p
    | Sorry, but not all of these songs may play during the game. Currently this app&apos;s webhost allows for only very limited data to be stored on the server.
  div(class='textColumn customControl')
    br
    label
      input(type='checkbox', name='aNightOfDizzySpells', id='aNightOfDizzySpells', value='aNightOfDizzySpells', checked)
      |  A Night of Dizzy Spells 
    a(href='https://soundcloud.com/eric-skiff/a-night-of-dizzy-spells?in=eric-skiff/sets/resistor-anthems', target='_blank')
      | &#9654;
    br
    label
      input(type='checkbox', name='allOfUs', id='allOfUs', value='allOfUs', checked)
      |  All of Us 
    a(href='https://soundcloud.com/eric-skiff/all-of-us?in=eric-skiff/sets/resistor-anthems', target='_blank')
      | &#9654;
    br
    label
      input(type='checkbox', name='arpanauts', id='arpanauts', value='arpanauts', checked)
      |  Arpanauts 
    a(href='https://soundcloud.com/eric-skiff/arpanauts?in=eric-skiff/sets/resistor-anthems', target='_blank')
      | &#9654;
    br
    label
      input(type='checkbox', name='ascending', id='ascending', value='ascending', checked)
      |  Ascending 
    a(href='https://soundcloud.com/eric-skiff/ascending?in=eric-skiff/sets/resistor-anthems', target='_blank')
      | &#9654;
    br
    label
      input(type='checkbox', name='chibiNinja', id='chibiNinja', value='chibiNinja', checked)
      |  Chibi Ninja 
    a(href='https://soundcloud.com/eric-skiff/chibi-ninja?in=eric-skiff/sets/resistor-anthems', target='_blank')
      | &#9654;
    br
    label
      input(type='checkbox', name='comeAndFindMe', id='comeAndFindMe', value='comeAndFindMe', checked)
      |  Come and Find Me 
    a(href='https://soundcloud.com/eric-skiff/come-and-find-me?in=eric-skiff/sets/resistor-anthems', target='_blank')
      | &#9654;
    br
    label
      input(type='checkbox', name='comeAndFindMeB', id='comeAndFindMeB', value='comeAndFindMeB')
      |  Come and Find Me (B Mix) 
    a(href='https://soundcloud.com/eric-skiff/come-and-find-me-b-mix?in=eric-skiff/sets/resistor-anthems', target='_blank')
      | &#9654;
    br
    label
      input(type='checkbox', name='digitalNative', id='digitalNative', value='digitalNative')
      |  Digital Native 
    a(href='https://soundcloud.com/eric-skiff/digital-native?in=eric-skiff/sets/resistor-anthems', target='_blank')
      | &#9654;
  div(class='textColumn customControl')
    br
    label
      input(type='checkbox', name='hhavokIntro', id='hhavokIntro', value='hhavokIntro')
      |  HHavok (Intro) 
    a(href='https://soundcloud.com/eric-skiff/hhavok-intro?in=eric-skiff/sets/resistor-anthems', target='_blank')
      | &#9654;
    br
    label
      input(type='checkbox', name='hhavokMain', id='hhavokMain', value='hhavokMain', checked)
      |  HHavok (Main) 
    a(href='https://soundcloud.com/eric-skiff/hhavok-main?in=eric-skiff/sets/resistor-anthems', target='_blank')
      | &#9654;
    br
    label
      input(type='checkbox', name='jumpshot', id='jumpshot', value='jumpshot', checked)
      |  Jumpshot 
    a(href='https://soundcloud.com/eric-skiff/jumpshot?in=eric-skiff/sets/resistor-anthems', target='_blank')
      | &#9654;
    br
    label
      input(type='checkbox', name='prologue', id='prologue', value='prologue')
      |  Prologue 
    a(href='https://soundcloud.com/eric-skiff/prologue?in=eric-skiff/sets/resistor-anthems', target='_blank')
      | &#9654;
    br
    label
      input(type='checkbox', name='searching', id='searching', value='searching', checked)
      |  Searching 
    a(href='https://soundcloud.com/eric-skiff/searching?in=eric-skiff/sets/resistor-anthems', target='_blank')
      | &#9654;
    br
    label
      input(type='checkbox', name='underclocked', id='underclocked', value='underclocked', checked)
      |  Underclocked (Underunderclocked Mix) 
    a(href='https://soundcloud.com/eric-skiff/underclocked-underunderclocked?in=eric-skiff/sets/resistor-anthems', target='_blank')
      | &#9654;
    br
    label
      input(type='checkbox', name='wereAllUnderTheStars', id='wereAllUnderTheStars', value='wereAllUnderTheStars')
      |  We&apos;re All Under the Stars 
    a(href='https://soundcloud.com/eric-skiff/were-all-under-the-stars?in=eric-skiff/sets/resistor-anthems', target='_blank')
      | &#9654;
    br
    label
      input(type='checkbox', name='wereTheResistors', id='wereTheResistors', value='wereTheResistors')
      |  We&apos;re the Resistors 
    a(href='https://soundcloud.com/eric-skiff/were-the-resistors?in=eric-skiff/sets/resistor-anthems', target='_blank')
      | &#9654;
  p
    br
    | The talented 
    a(href='http://ericskiff.com/music/', target='_blank')
      | Eric Skiff
    |  composed of all of this music.

hr
