section#playArea
  include screens/game
  include screens/mainmenu
  include screens/gameover
  include screens/pause
  include screens/customplay
  include screens/login
  include screens/createaccount
  include screens/editaccount
  include screens/profilestats
