html, body, #dashboard {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  color: #EEEEEE;
}

html {
  overflow: hidden;
}

body {
  overflow-y: scroll;
}

#dashboard {
  max-width: 100%;
}

div {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 0;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  font-weight: bold;
}

li>a, li>span {
  display: inline-block;
  padding: 8px;
  margin: 4px;
  background-color: hsla(0, 0%, 0%, 0.1);
  border-radius: 5px;
  box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.4);
}

h1, h2, h3, h4, h5 {
  margin: 1em 0;
  color: hsla(52, 100%, 64%, 1);
  text-align: center;
  text-shadow: #000000 1px 1px 3px;
}

a, a:hover, a:active, a:visited {
  color: #18ffff;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #101919 url("/games/images/background.png") repeat;
  background-size: 1920px 1425px; /*3840 2850*/
}

#dashboard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 500px;
}

#dashboard>div, #games>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#news, #games>div {
  width: calc(100% - 32px);
  background-color: #333333;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #000000;
}

#news>h2, #games>div>h3 {
  margin-top: 0;
}

#games>div {
  margin-bottom: 1.5em;
}

#games p {
  text-align: justify;
}

#portfolio-link {
  margin-top: 1.5em;
  padding-bottom: 1.5em;
}

@media (max-width: 880px) {
  #dashboard {
    width: 500px;
  }
}

@media (max-width: 540px) {
  #dashboard {
    width: 500px;
  }

  #news, #games>div {
    width: calc(100% - 3em);
    padding: 2em 1em;
  }
}

@media (max-width: 364px) {
  #dashboard {
    width: 100%;
  }
}
