<!DOCTYPE html>
<html>
<% var baseDir = '/games'; %>
<% var cacheBuster = '.v1.0.0'; %>

<head>
  <meta charset="utf-8">

  <meta name="viewport"
        content="width=device-width, initial-scale=1">

  <title>Levi Lindsey's games</title>

  <meta name="description"
        content="A dashboard showcasing games Levi Lindsey has made.">

  <link rel="icon"
        type="image/png"
        href="<%= baseDir %>/images/icon-16<%= cacheBuster %>.png"
        sizes="16x16">
  <link rel="icon"
        type="image/png"
        href="<%= baseDir %>/images/icon-32<%= cacheBuster %>.png"
        sizes="32x32">

  <link rel="stylesheet"
        type="text/css"
        href="<%= baseDir %>/styles/main<%= cacheBuster %>.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700'
        rel='stylesheet'
        type='text/css'>

  <script>
    window.appRootPath = '/games';
  </script>
  <script defer
          type="text/javascript"
          src="<%= baseDir %>/games<%= cacheBuster %>.js"></script>
</head>
<body>
<div id="dashboard">
  <h1>Levi Lindsey is making games!</h1>

  <div id="news">
    <h2>Follow Levi's game-related news!</h2>
    <ul>
      <li><a href="https://blog.levi.dev">Subscribe to his blog</a></li>
      <li><a href="https://twitter.com/levisl">Follow him on Twitter</a></li>
    </ul>
  </div>

  <div id="games">
    <h2>Check out Levi's games!</h2>
    <div>
      <h3>Inner-Tube Climber</h3>
      <p><em>Oh no! The player is stuck inside a "loop"--that is, their inner tube&mdash;from a tragic inner-tubing accident that left them stuck in the bottom of an endless crevasse!</em></p>
      <p>This is an endless climber game, with fun wall bouncing!</p>
      <ul>
        <li><span>Google Play Store (forthcoming)</span></li>
        <li><span>Apple App Store (forthcoming)</span></li>
        <li><a href="https://ldjam.com/events/ludum-dare/47/stuck-in-an-inner-tube">Original Ludum Dare submission</a></li>
      </ul>
    </div>
  </div>

  <div id="portfolio-link">
    <a href="https://levi.dev">Or check out Levi's portfolio</a>
  </div>
</div>

<!-- In theory, statically including all this text in the HTML should give SEO more to work with?
  -->
<div id="combined-metadata-dump-for-all-games">
<!-- inject:combinedMetadata -->
<!-- endinject -->
</div>

<script><%= analyticsScript %></script>
</body>
</html>
