div(id='gameScreen')
  canvas#gameCanvas

  #topLevelDisplayArea
    | Level: 
    span#topLevelDisplayData
      | 1

  #topScoreDisplayArea
    | Score: 
    span#topScoreDisplayData
      | 0

  #hintTextArea

  img(id='helpButton', class='canvasButton button', src='#{baseDir}/images/help.png', alt='help')
  img(id='musicButton', class='canvasButton button', src='#{baseDir}/images/music_on.png', alt='toggle music')
  img(id='sfxButton', class='canvasButton button', src='#{baseDir}/images/sfx_on.png', alt='toggle sfx')
