
<div id="pauseScreen" class="screen">
  <hgroup>
    <h1 id="pauseScreenHeader" class="screenTitle">Game Paused</h1>
    <h2 id="pauseScreenSubHeader" class="screenSubTitle"></h2>
  </hgroup>
  <p id="explanationTextArea"></p><img id="pauseScreenPlayGameButton" src="undefined/images/play_game.png" alt="Play game button" class="button"/><img id="unpauseButton" src="undefined/images/unpause.png" alt="Unpause game button" class="button"/><img id="restartButton" src="undefined/images/restart.png" alt="Restart game button" class="confirmationButton button"/><img id="pauseMainMenuButton" src="undefined/images/main_menu.png" alt="Main menu button" class="confirmationButton button"/>
</div>