div(id='pauseScreen', class='screen')
  hgroup
    h1(id='pauseScreenHeader', class='screenTitle')
      | Game Paused
    h2(id='pauseScreenSubHeader', class='screenSubTitle')
  p#explanationTextArea
  img(id='pauseScreenPlayGameButton', class='button', src='#{baseDir}/images/play_game.png', alt='Play game button')
  img(id='unpauseButton', class='button', src='#{baseDir}/images/unpause.png', alt='Unpause game button')
  img(id='restartButton', class='confirmationButton button', src='#{baseDir}/images/restart.png', alt='Restart game button')
  img(id='pauseMainMenuButton', class='confirmationButton button', src='#{baseDir}/images/main_menu.png', alt='Main menu button')
