extends invite-layout

block content

  .no_script_page
    h1
      | You are invited

    h2
      | Who
    p
      span.name
        | Jacqueline Kimberly Schwartzstein
      br
      | and
      br
      span.name
        | Levi Scott Lindsey

    h2
      | What
    p
      | Jackie and Levi&apos;s closest family and friends will gather together to meet and celebrate their wedding!  There will be food, cake, and festive drinks.  The bride and groom will be married the day before the party, so attire need not be formal; however, they will be dressed up, so feel free to join in!  The party will be outside, and the weather in Olympia is usually idyllic in August.

    h2
      | When
    p
      | Saturday, the third of August
      br
      | Two thousand and thirteen
      br
      | At two o&apos;clock in the afternoon
      br

    h2
      | Where
    p
      | The reception will be held under the beautiful trees at Scott and Carolyn Lindsey&apos;s house in Olympia, Washington.  This address will be provided with the RSVP confirmation.

    h2
      | RSVP
    form(action='#{baseDir}/wedding.php', method='post')
      span#rsvp_by
        | (Please RSVP before June 25th!)
      br
      br
      | Will you be attending?
      label
        input(id='coming_yes_rb', type='radio', name='rsvp_coming_yes', value='yes')
        | Yes
      label
        input(id='coming_no_rb', type='radio', name='rsvp_coming_no', value='no')
        | No
      br
      | Your name:
      input(id='rsvp_name', type='text', name='rsvp_name', size='28')
      br
      | Your email address:
      input(id='rsvp_email', type='text', name='rsvp_email', size='28')
      br
      | Number of people in your party (including you) (if coming):
      input(id='rsvp_count', type='text', name='rsvp_count', size='2')
      br
      | Please describe any dietary restrictions your party may have (if coming):
      br
      textarea(id='rsvp_diet_needs', name='rsvp_diet_needs', rows='3', cols='32')
      br
      input(id='rsvp_submit', type='submit', value='RSVP', disabled='true')

    h2
      | Registry
    p
      | Should you wish to buy a gift for the bride and groom, there are two registry options. The traditional registry is at 
      a(href='http://www.surlatable.com/registry/giftRegistryList.jsp?id=200513960343', target='_blank')
        | Sur La Table
      | , which can be accessed online or in person at one of the store locations. An alternate option is the 
      a(href='https://www.nrdcgreengifts.org/shopping-for-green-gifts-is-as-easy-as-1-2-3', target='_blank')
        | NRDC's Green Gift
      |  program, where you can donate to a good cause of your choice in honor of the bride and groom.
