@font-face {
  font-family: 'SassoonSansStd';
  src: url('fonts/SassoonSansStd.eot');
  /* For IE */
  src: local('SassoonSansStd'), url('fonts/SassoonSansStd.ttf') format('truetype'), url('fonts/SassoonSansStd.svg') format('svg');
  /* For all other web browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fff;
  color: #303030;
  font-family: 'SassoonSansStd', sans-serif;
  width: 100%;
}

img {
  display: block;
  margin: 80px auto 20px auto;
}

h1 {
  font-size: 32pt;
  text-align: center;
  width: 100%;
}

p {
  font-size: 18pt;
  text-align: center;
  width: 100%;
}

a {
  font-weight: bold;
}

body div a:active {
  color: #ea566b;
  text-decoration: none;
}

a:link {
  color: #aaa;
/*#be56ea*/
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}

a:visited {
  color: #999;
  text-decoration: none;
}
