<!DOCTYPE html>
<html>
<% var baseDir = '/snoring-cat'; %>
<% var cacheBuster = '.v1.0.13'; %>

<head>
  <meta charset="utf-8">

  <meta name="viewport"
        content="width=device-width, initial-scale=1">

  <title>💤🐈</title>

  <meta name="description"
        content="Snoring Cat makes pixel-art 2D platformer games using Godot.">

  <link rel="icon"
        type="image/png"
        href="https://s3-us-west-2.amazonaws.com/snoringcat.games/icon-16.png"
        sizes="16x16">
  <link rel="icon"
        type="image/png"
        href="https://s3-us-west-2.amazonaws.com/snoringcat.games/icon-32.png"
        sizes="32x32">
  <link rel="icon"
        type="image/png"
        href="https://s3-us-west-2.amazonaws.com/snoringcat.games/icon-64.png"
        sizes="64x64">

  <link rel="stylesheet"
        type="text/css"
        href="<%= baseDir %>/styles/main<%= cacheBuster %>.css">

  <!-- Asynchronously load the large font files. -->
  <link rel="preload"
        href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap"
        as="style"
        onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload"
        href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
        as="style"
        onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
  </noscript>

  <script>
    window.appRootPath = '/snoring-cat';
  </script>
  <script defer
          type="text/javascript"
          src="<%= baseDir %>/scripts/shared<%= cacheBuster %>.js"></script>
  <script defer
          type="text/javascript"
          src="<%= baseDir %>/scripts/main<%= cacheBuster %>.js"></script>
  <script defer
          type="text/javascript"
          src="<%= baseDir %>/scripts/snoring-cat-ascii<%= cacheBuster %>.js"></script>
</head>
<body>
<div id="main" style="display: none; visibility: hidden;">
  <h1>Snoring Cat</h1>

  <div id="cat">
    <img src="https://s3-us-west-2.amazonaws.com/snoringcat.games/icon-512.png"
         alt="A pixel-art image of a sleeping cat rolled up around itself.">
  </div>

  <!-- TODO: Update Squirrel Away and Momma Duck screenshots, videos, logos; move squirrel-away to itch.io. -->

  <div id="cards">
    <div id="squirrel-away"
         class="card">
      <button class="card-header-wrapper">
        <h2>
          <img class="logo"
               src="https://s3-us-west-2.amazonaws.com/snoringcat.games/squirrel-away-icon.png"
               alt="The Squirrel Away icon.">
          Squirrel Away
        </h2>
        <img class="dropdown-arrow"
             src="https://s3-us-west-2.amazonaws.com/snoringcat.games/chevron.png"
             alt="A chevron symbol.">
      </button>

      <div class="card-body-wrapper">
        <div class="card-body">
          <img class="screenshot"
               src="https://s3-us-west-2.amazonaws.com/snoringcat.games/squirrel-away-screenshot.png"
               alt="A screenshot from Squirrel Away.">

          <p>This <b>point-and-click platformer</b> game showcases procedural pathfinding using the <a href="https://snoringcat.games/surfacer">Surfacer</a> framework.</p>

          <p>In this game, the user can click anywhere in the level, and the cat character will then jump, walk, and climb across platforms in order to reach that target destination.</p>

          <ul class="buttons">
            <li>
              <a href="https://levi.dev/squirrel-away">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/itchio-icon.png"
                     alt="The itch.io icon.">
                Play the game!
              </a>
            </li>
            <!--TODO-->
            <!--<li>-->
              <!--<a href="https://www.youtube.com/watch?v=">-->
                <!--<img class="icon"-->
                     <!--src="https://s3-us-west-2.amazonaws.com/snoringcat.games/youtube-icon.png"-->
                     <!--alt="The YouTube icon.">-->
                <!--Gameplay video-->
              <!--</a>-->
            <!--</li>-->
            <li>
              <a href="https://github.com/SnoringCatGames/squirrel_away">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/github-icon.png"
                     alt="The GitHub icon.">
                Source Code
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="momma-duck"
         class="card">
      <button class="card-header-wrapper">
        <h2>
          <img class="logo"
               src="https://s3-us-west-2.amazonaws.com/snoringcat.games/momma-duck-icon.png"
               alt="The Momma Duck icon.">
          Momma Duck
        </h2>
        <img class="dropdown-arrow"
             src="https://s3-us-west-2.amazonaws.com/snoringcat.games/chevron.png"
             alt="A chevron symbol.">
      </button>

      <div class="card-body-wrapper">
        <div class="card-body">
          <img class="screenshot"
               src="https://s3-us-west-2.amazonaws.com/snoringcat.games/momma-duck-screenshot.png"
               alt="A screenshot from Momma Duck.">

          <p><em>Collect your ducklings and lead them to safety!</em></p>

          <p>This <b>point-and-click platformer</b> game showcases procedural pathfinding using the <a href="https://snoringcat.games/surfacer/">Surfacer</a> framework.</p>

          <p>Momma Duck was originally created as a <a href="https://itch.io/jam/gmtk-2021/rate/1085910">submission</a> for the <a href="https://gmtkgamejam.com/">GMTK</a> 2021 game jam.</p>

          <ul class="buttons">
            <li>
              <a href="https://levi.dev/momma-duck">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/itchio-icon.png"
                     alt="The itch.io icon.">
                Play the game!
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=QYv0xNa0bO8">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/youtube-icon.png"
                     alt="The YouTube icon.">
                Gameplay video
              </a>
            </li>
            <li>
              <a href="https://github.com/SnoringCatGames/momma_duck">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/github-icon.png"
                     alt="The GitHub icon.">
                Source Code
              </a>
            </li>
            <li>
              <a href="https://levi.dev/gmtk21">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/gmtk-icon.png"
                     alt="The GMTK icon.">
                Original game-jam version
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="inner-tube-climber"
         class="card">
      <button class="card-header-wrapper">
        <h2>
          <img class="logo"
               src="https://s3-us-west-2.amazonaws.com/snoringcat.games/inner-tube-climber-icon.png"
               alt="The Inner-Tube Climber icon.">
          <img class="logo"
               src="https://s3-us-west-2.amazonaws.com/snoringcat.games/inner-tube-climber-logo.png"
               alt="A pixel-art logo that says 'Inner-Tube Climber'.">
        </h2>
        <img class="dropdown-arrow"
             src="https://s3-us-west-2.amazonaws.com/snoringcat.games/chevron.png"
             alt="A chevron symbol.">
      </button>

      <div class="card-body-wrapper">
        <div class="card-body">
          <img class="screenshot"
               src="https://s3-us-west-2.amazonaws.com/snoringcat.games/inner-tube-climber-screenshot.png"
               alt="A screenshot from Inner-Tube Climber, showing the player jumping between platforms.">

          <p><em>Oh no! The player is stuck inside their inner-tube from a tragic accident, which also left them trapped in the bottom of an endless crevasse!</em></p>

          <p>Inner-Tube Climber is a free endless climber mobile game with fun wall bouncing and polished platforming controls!</p>

          <p>Inner-Tube Climber was originally created as a <a href="https://ldjam.com/events/ludum-dare/47/stuck-in-an-inner-tube/">"Compo" submission</a> for the <a href="https://ldjam.com/">Ludum Dare</a> 47 game jam.</p>

          <ul class="buttons">
            <li>
              <a href="https://play.google.com/store/apps/details?id=dev.levi.inner_tube_climber">
                <img class="badge"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/play-store-badge.png"
                     alt="The Google Play Store badge.">
              </a>
            </li>
            <li>
              <a href="https://apps.apple.com/us/app/inner-tube-climber/id1553158659">
                <img class="badge"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/app-store-badge.png"
                     alt="The Apple App Store badge.">
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/watch?v=5ambx7K7Rjg">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/youtube-icon.png"
                     alt="The YouTube icon.">
                Trailer
              </a>
            </li>
            <li>
              <a href="https://github.com/SnoringCatGames/inner-tube-climber">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/github-icon.png"
                     alt="The GitHub icon.">
                Source Code
              </a>
            </li>
            <li>
              <a href="https://ldjam.com/events/ludum-dare/47/stuck-in-an-inner-tube">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/ludum-dare-icon.png"
                     alt="The Ludum Dare icon.">
                Original game-jam version
              </a>
            </li>
          </ul>

          <h3>Reviews:</h3>

          <ul class="reviews">
            <li>"The game is very fun, the music is also good"</li>
            <li>"This game is very good, you guys did incredible work"</li>
            <li>"When I [...] heard voiceacting I knew that the game had some effort put into it unlike those games that are just ads"</li>
            <li>"The game is pretty cool so download it if you like games that are pretty hard lol"</li>
            <li>"The game can make u rage but have fun at the same time which is great"</li>
            <li>"A great game for speed running!"</li>
          </ul>

          <h3>In the news:</h3>

          <ul class="buttons">
            <li>
              <a href="https://gameskeys.net/amazing-android-games-to-tryout-in-2021/#InnerTubeClimber">GameKeys: "Amazing Android Games to Tryout in 2021"</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="surfacer"
         class="card">
      <button class="card-header-wrapper">
        <h2>
          <img class="logo"
               src="https://s3-us-west-2.amazonaws.com/snoringcat.games/surfacer-icon.png"
               alt="The Surfacer icon.">
          Surfacer
        </h2>
        <img class="dropdown-arrow"
             src="https://s3-us-west-2.amazonaws.com/snoringcat.games/chevron.png"
             alt="A chevron symbol.">
      </button>

      <div class="card-body-wrapper">
        <div class="card-body">
          <img class="screenshot"
               src="https://s3-us-west-2.amazonaws.com/snoringcat.games/surfacer-screenshot.png"
               alt="A screenshot from Squirrel Away illustrating an annotated platform graph.">

          <p><b>Point-and-click platformers</b>!</p>

          <p>An <b>AI and pathfinding</b> 2D-platformer framework for <a href="https://godotengine.org/">Godot</a>.</p>

          <p>
            <b>tl;dr:</b> Surfacer works by <b>pre-parsing</b> a level into a<b>"platform graph"</b>.
            The <b>nodes</b> are represented by points along the different surfaces in the level
            (floors, walls, and ceilings). The <b>edges</b> are represented by possible movement
            trajectories between points along surfaces. There are different types of edges for
            different types of movement (e.g., jumping from a floor to a floor, falling from a wall,
            walking along a floor). At run time,
            <b><a href="https://en.wikipedia.org/wiki/A*_search_algorithm">A* search</a></b>
            is used to calculate a path to a given destination.
          </p>

          <p>Some features include:</p>

          <ul class="bulleted-list">
            <li>Surfacer includes a powerful **character-behavior system** for easily creating a character AI with high-level behaviors like "wander", "follow", "run-away", "return".</li>
            <li>Easy-to-use point-and-click navigation for player-controlled characters.</li>
            <li><a href="https://github.com/SnoringCatGames/surfacer/blob/master/src/platform_graph/edge/models/movement_params.gd">Configurable movement parameters</a> on a per-character basis (e.g., horizontal acceleration, jump power, gravity, collision boundary shape and size, which types of edge movement are allowed).</li>
            <li>Level creation using Godot's standard pattern with a <a href="https://docs.godotengine.org/en/3.2/tutorials/2d/using_tilemaps.html">TileMap in the 2D scene editor</a>.</li>
            <li>Preparsing the level into a platform graph, and using A* search for efficient path-finding at runtime.</li>
            <li>A powerful inspector for analyzing the platform graph, in order to debug and better understand how edges were calculated.</li>
            <li>Walking on floors, climbing on walls, climbing on ceilings, jumping and falling from anywhere.</li>
            <li><a href="https://kotaku.com/the-mechanics-behind-satisfying-2d-jumping-1761940693">Variable-height jump and fast-fall</a>.</li>
            <li>Adjusting movement trajectories to move around intermediate surfaces (such as jumping over a wall or around a floor).</li>
          </ul>

          <p>See <a href="https://github.com/SnoringCatGames/surfacer">more details in the library's README</a>.</p>

          <p>You can also read more about how Surfacer's AI and movement works in <a href="https://devlog.levi.dev/2021/09/building-platformer-ai-from-low-level.html">this series of devlog posts on devlog.levi.dev</a>.</p>

          <ul class="buttons">
            <li>
              <a href="https://godotengine.org/asset-library/asset/968">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/godot-icon.png"
                     alt="The Godot icon.">
                Godot Asset Library package
              </a>
            </li>
            <li>
              <a href="https://github.com/SnoringCatGames/surfacer">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/github-icon.png"
                     alt="The GitHub icon.">
                Source Code
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="scaffolder"
         class="card">
      <button class="card-header-wrapper">
        <h2>
          <img class="logo"
               src="https://s3-us-west-2.amazonaws.com/snoringcat.games/scaffolder-icon.png"
               alt="The Scaffolder icon.">
          Scaffolder
        </h2>
        <img class="dropdown-arrow"
             src="https://s3-us-west-2.amazonaws.com/snoringcat.games/chevron.png"
             alt="A chevron symbol.">
      </button>

      <div class="card-body-wrapper">
        <div class="card-body">
          <p>This is an opinionated framework that provides a bunch of general-purpose application scaffolding and utility functionality for games in Godot.</p>

          <p>Some features include:</p>

          <ul class="bulleted-list">
            <li>Configurable UI and camera scaling to adapt to the current viewport.</li>
            <li>Optional analytics based on the proprietary third-party Google Analytics service.</li>
            <li>Optional automatic crash log reporting based on the proprietary third-party Google Cloud Storage service.</li>
            <li>Screen layout and navigation.</li>
            <li>Lots of useful utility functions (e.g., Time, Geometry, DrawUtils, Audio).</li>
            <li>A widget library (e.g., AccordionPanel, LabeledControlList)</li>
          </ul>

          <p>See <a href="https://github.com/SnoringCatGames/scaffolder">more details in the library's README</a>.</p>

          <ul class="buttons">
            <li>
              <a href="https://godotengine.org/asset-library/asset/969">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/godot-icon.png"
                     alt="The Godot icon.">
                Godot Asset Library package
              </a>
            </li>
            <li>
              <a href="https://github.com/SnoringCatGames/scaffolder">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/github-icon.png"
                     alt="The GitHub icon.">
                Source Code
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="dark-time"
         class="card">
      <button class="card-header-wrapper">
        <h2>
          <img class="logo"
               src="https://s3-us-west-2.amazonaws.com/snoringcat.games/dark-time-logo.png"
               alt="A logo of a analog clock.">
          Dark Time
        </h2>
        <img class="dropdown-arrow"
             src="https://s3-us-west-2.amazonaws.com/snoringcat.games/chevron.png"
             alt="A chevron symbol.">
      </button>

      <div class="card-body-wrapper">
        <div class="card-body">
          <img class="screenshot"
               src="https://s3-us-west-2.amazonaws.com/snoringcat.games/dark-time-screenshot.png"
               alt="A screenshot from of the Dark Time new-tab page.">

          <p>Replaces the new tab page in Chrome. Shows the current time, with configurable background and text colors.</p>

          <p>Dark Time provides a new-tab experience that shows your local time with dark background color and low-contract font. A non-jarring look is especially important for new-tab content, since this is shown every time you open a new tab!</p>

          <p>If you'd instead prefer to customize the colors, Dark Time let's you do that! Just open up extension settings in the usual way through Chrome's UI.</p>

          <ul class="buttons">
            <li>
              <a href="https://chrome.google.com/webstore/detail/dark-time/ofmngaeacndglijmheklbcnbjfdcohke">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/chrome-web-store-icon.png"
                     alt="The Chrome Web Store icon.">
                Chrome Web Store
              </a>
            </li>
            <li>
              <a href="https://github.com/SnoringCatGames/dark-time">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/github-icon.png"
                     alt="The GitHub icon.">
                Source Code
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="about"
         class="card">
      <button class="card-header-wrapper">
        <h2>About</h2>
        <img class="dropdown-arrow"
             src="https://s3-us-west-2.amazonaws.com/snoringcat.games/chevron.png"
             alt="A chevron symbol.">
      </button>

      <div class="card-body-wrapper">
        <div class="card-body">
          <p>Snoring Cat creates video games! We currently specialize in 2D platformer games, pixel art, and the <a href="https://godotengine.org/">Godot game engine</a>.</p>

          <p>Snoring Cat is owned and managed by <a href="https://levi.dev/#about-levi">Levi Lindsey</a>.</p>

          <p>Follow us on social media to hear about our latest updates!</p>

          <ul class="buttons">
            <li>
              <a href="https://twitter.com/SnoringCatGames">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/twitter-icon.png"
                     alt="The Twitter icon.">
                Twitter
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/snoringcatgames">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/facebook-icon.png"
                     alt="The Facebook icon.">
                Facebook
              </a>
            </li>
            <li>
              <a href="https://github.com/SnoringCatGames">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/github-icon.png"
                     alt="The GitHub icon.">
                GitHub
              </a>
            </li>
          </ul>

          <p>Or if you are instead looking for other things Levi has created, check out the following links:</p>

          <ul class="buttons">
            <li>
              <a href="https://devlog.levi.dev">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/dev-icon.png"
                     alt="A game-dev icon.">
                Levi's devlog
              </a>
            </li>
            <li>
              <a href="https://levi.dev">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/levi-icon.png"
                     alt="A pixel-art image of Levi.">
                Levi's portfolio
              </a>
            </li>
            <li>
              <a href="https://twitter.com/levisl">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/twitter-icon.png"
                     alt="The Twitter icon.">
                Levi's Twitter
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/levislindsey">
                <img class="icon"
                     src="https://s3-us-west-2.amazonaws.com/snoringcat.games/facebook-icon.png"
                     alt="The Facebook icon.">
                Levi's Facebook
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="contact"
         class="card">
      <button class="card-header-wrapper">
        <h2>Contact</h2>
        <img class="dropdown-arrow"
             src="https://s3-us-west-2.amazonaws.com/snoringcat.games/chevron.png"
             alt="A chevron symbol.">
      </button>

      <div class="card-body-wrapper">
        <div class="card-body">
          <div id="email">
            <a href="mailto:contact@snoringcat.games">contact@snoringcat.games</a>
          </div>

          <div id="address">
            <div>4730 University Way NE Suite 104 PMB 2852</div>
            <div>Seattle, WA 98105</div>
          </div>

          <div id="phone">(206) 657-7717</div>
        </div>
      </div>
    </div>
  </div>

  <audio autoplay="autoplay"
         loop>
    <source src="https://s3-us-west-2.amazonaws.com/snoringcat.games/cat-snores.mp3" />
  </audio>
</div>

<script><%= snoringCatAnalyticsScript %></script>
</body>
</html>
